@model ArticlProjects.Core.Entityes.AuthorPost

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:Cairo"> حذف</h1>
<h4 style="font-family:Cairo">هل انت متاكد من هذا الاجراء؟ </h4>
<div>
    <h4 style="font-family:Cairo">بيانات المشاركة</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostCategory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.PostImageUrl" class="img-fluid" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-primary" /> |
        <a asp-action="Index" class="btn btn-primary">الرجوع الى المشاركات</a>
    </form>

</div>
